<!-- create_task.html -->
{% extends 'base.html' %}

{% block title %}
  Create Task - {{ task_list.title }} - {{ block.super }}
{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="mt-5">Create Task</h2>
    <form method="post" class="mt-3">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Create</button>
      <a href="{% url 'view_task_list' task_list.id %}" class="btn btn-secondary">Cancel</a>
    </form>
    <small class="text-muted">
      <a href="{% url 'category_list' %}">Gérer les catégories</a>
    </small>
  </div>
{% endblock %}