<!-- delete_task.html -->
{% extends 'base.html' %}

{% block title %}
  Delete Task - {{ task.title }} - {{ block.super }}
{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="mt-5">Delete Task</h2>
    <p class="mt-3">Are you sure you want to delete "{{ task.title }}"?</p>
    <form method="post" class="mt-3">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete</button>
      <a href="{% url 'view_task_list' task_list.id %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}